@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ClientsLayout.cshtml";
}
<!--Crumb Bar-->
<section class="content-header">
  <h1>Clients
        <small>Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Clients")"><i class="fa fa-dashboard"></i>Clients</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3 id="TotalShipments">...</h3>
          <h4>Total Shipments</h4>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3 id="Delivered">...</h3>

          <h4>Delivered</h4>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3 id="ReScheduled">...</h3>

          <h4>Re-Scheduled</h4>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3 id="UnDelivered">...</h3>

          <h4>Un-Delivered</h4>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- Charts -->
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <!-- Map box -->
      <div class="box box-solid">
        <div class="box-header">

          <i class="fa fa-map-marker"></i>

          <h3 class="box-title">Shipments Status
              </h3>
        </div>
        <div class="box-body">
          <canvas id="StatusChart" class="chart tab-pane" style="position: relative; height: 300px;"></canvas>
          <!--<div  id="StatusChart" style="position: relative; height: 300px;"></div>-->
        </div>
        <!-- /.box-body-->

      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <!-- Map box -->
      <div class="box box-solid">
        <div class="box-header">

          <i class="fa fa-map-marker"></i>

          <h3 class="box-title">Un-Delivered Reasons
              </h3>
        </div>
        <div class="box-body">
          <canvas id="ReasonChart" class="chart tab-pane" style="position: relative; height: 300px;"></canvas>
          <!--<div class="chart tab-pane" id="ReasonChart" style="position: relative; height: 300px;"></div>-->
        </div>
        <!-- /.box-body-->

      </div>
    </div>

  </div>
  <!-- /.row -->

</section>


<script src="~/assets/libs/chart.js/Chart.min.js"></script>
<script src="~/assets/js/ClientUsers/Index.js"></script>